.Skills {
    max-width: 1024px;
    margin: 0 auto;
}

.cards {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.flip-card {
    background-color: transparent;
    width: 13rem;
    height: 13rem;
    perspective: 1000px;
    margin-top: 0.8rem;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.flip-card-front > img {
    width: 100%;
    height: 100%;
}

.flip-card-back {
    background-color: #2980b9;
    color: white;
    transform: rotateY(180deg);
    overflow-y: auto;
}

.flip-card-back p {
    display: block;
    word-break: keep-all;
    word-wrap: break-word;
}

.flip-card-back p:nth-of-type(n+2) {
    display: block;
    width: 80%;
    font-size: 0.7rem;
    margin: 0.25rem auto;
}

.flip-card-back p:nth-of-type(1) {
    font-size: 1rem;
}

.flip-card-back p:nth-of-type(2) {
    font-size: 0.8rem;
}