.Sidebar {
    margin: 0;
    padding: 0;
    width: 260px;
    background-color: rgb(63, 14, 64);
    position: fixed;
    height: 100%;
    overflow: auto;
}

.Content {
    margin-left: 260px;
    padding: 1px 0;
}

@media screen and (max-width: 1024px) {
    .Sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }
    .Sidebar a {float: left;}
    div.Content {margin-left: 0;}

    /* sidebarComponents의 Navigation 컴포넌트 */
    .navbar-menu {
        flex-direction: row;
    }
    .navbar-menu li {
        margin-bottom: 0;
    }
}